html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(161, 239, 255);
  font-family: 'Futura';
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

h1 {
  color: rgb(35, 83, 135);
  font-size: 3rem;
}

h2 {
  margin: 0;
  color: rgb(35, 83, 135);
}

#join-title {
  font-size: 14rem;
  margin-top: 0;
}

#join-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 5s linear;
}

#join-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-button {
  margin: 1em;
  margin-bottom: 0;
  padding: 0.25em;
  background-color: transparent;
  border: 5px solid rgb(35, 83, 135);
  color: rgb(35, 83, 135);
  border-radius: 10px;
  font-size: 2rem;
  font-family: 'Futura';
}

.join-button-hover:hover {
  background-color: rgb(35, 83, 135);
  color: rgb(161, 239, 255);
}

.control-button:disabled {
  cursor: default;
  border: 5px solid rgba(35, 83, 135, 0.25);
  color: rgba(35, 83, 135, 0.25);
}


#main-wrapper {
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

#status-wrapper {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 6;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5em;
}

#video-wrapper {
  height: 100%;
  width: 60%;
  display: grid;
  
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 20% 20% 20% 20%;
}

video {
  border-radius: 10px;
  border: 5px solid rgb(35, 83, 135);

  box-shadow: -5px 5px 10px 5px #4f7492;

  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}


.large-local {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  justify-self: center;
}

.mini-local {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
}

#local-wrapper {
  position: relative;
}

#remote-wrapper {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  justify-self: center;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  margin-top: 5em;
}


#test {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  background: red;
}


#control-panel {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  display: flex;
  flex-direction: column;
}

.control-button {
  width: 100%;
  margin: 1em;
  margin-bottom: 0;
  padding: 0.25em;
  background-color: transparent;
  border: 5px solid rgb(35, 83, 135);
  color: rgb(35, 83, 135);
  border-radius: 10px;
  font-size: 2rem;
  font-family: 'Futura';
}

.button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pkb-msg {
  text-align: center;
}

#pir-msg {
  text-align: center;
}

#interaction {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  justify-self: center;
  position: relative;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.hat {
  position: absolute;
  z-index: 5;
}

#spotlight {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
      circle,
      transparent 160px,
      rgba(0, 0, 0, 0.85) 400px
  );
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#confetti {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  z-index: 100;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/futura.otf');
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}